node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.vercel
.local
.env
.env.*
.idea
.vscode
*.log
*.swp
notreq
cookies*.txt
netlify.toml
.netlify
.cache
.svelte-kit
coverage
*.sqlite
*.sqlite3
*.db
*.pdb
*.bak
*.backup
*.old
/.env